name: Build, Test, and Deploy the Function App

on:
  push:
    branches:
      - develop
      - staging
      - master

  pull_request:
    branches:
      - develop

  workflow_dispatch:

permissions:
  id-token: write
  contents: read

concurrency:
  group: build-deploy-${{ github.ref }}
  cancel-in-progress: true

env:
  AZURE_FUNCTION_APP_PACKAGE_FOLDER: function-app-package # --------------------------------------------------- the folder in which to store the function app package
  BUILD_CONFIGURATION: Release # ------------------------------------------------------------------------------ the build configuration to use
  DOTNET_VERSION: 8.0.x # ------------------------------------------------------------------------------------- the .net version to use
  PUBLISH_OUTPUT_FOLDER: publish-output # --------------------------------------------------------------------- the folder in which to store the publish output
  PUBLISH_ARTIFACT_NAME: published-function-app
  PUBLISH_PROJECT_PATH: ./src/Kgm.ExampleNetEight.FunctionApp/Kgm.ExampleNetEight.FunctionApp.csproj # -------- the path to the project to publish
  SOLUTION_PATH: ./Kgm.ExampleNetEight.FunctionApp.sln # ------------------------------------------------------ the path to the solution *.sln file
  TEST_RESULTS_FOLDER: test-results # ------------------------------------------------------------------------- the folder in which to store the test results
  TEST_COVERAGE_SETTINGS_FILE_PATH: ./test/unit-tests/coverlet.runsettings # ---------------------------------- the path to the code coverage settings file

jobs:
  build-and-test:
    name: Build and test the Function App
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET ${{ env.DOTNET_VERSION }}
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Install dependencies
        run: dotnet restore ${{ env.SOLUTION_PATH }}

      - name: Build
        run: >
          dotnet build
          --configuration ${{ env.BUILD_CONFIGURATION }}
          --no-restore
          ${{ env.SOLUTION_PATH }}

      - name: Test
        run: >
          dotnet test
          --configuration ${{ env.BUILD_CONFIGURATION }}
          --no-build
          --verbosity normal
          --results-directory ${{ env.TEST_RESULTS_FOLDER }}
          --logger trx
          --logger console
          --collect:"XPlat Code Coverage"
          ${{ env.SOLUTION_PATH }}

      - name: Publish
        run: >
          dotnet publish
          --configuration ${{ env.BUILD_CONFIGURATION }}
          --no-build
          --output ${{ env.PUBLISH_OUTPUT_FOLDER }}
          ${{ env.PUBLISH_PROJECT_PATH }}

      - name: Archive published function app
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.PUBLISH_ARTIFACT_NAME }}
          path: ${{ env.PUBLISH_OUTPUT_FOLDER }}
          if-no-files-found: error

      - name: Directory listing
        run: ls

  deploy:
    name: Deploy the Function App to the environment
    if: ${{ github.event_name == 'push' }}
    runs-on: ubuntu-latest
    needs: build-and-test
    environment: ${{ github.ref_name == 'master' && 'production' || github.ref_name == 'staging' && 'stage' || 'development' }}
    steps:
      - name: Download the published function app
        uses: actions/download-artifact@v4
        with:
          name: ${{ env.PUBLISH_ARTIFACT_NAME }}
          path: ${{ env.AZURE_FUNCTION_APP_PACKAGE_FOLDER }}

      - name: List files after download
        run: ls ${{ env.AZURE_FUNCTION_APP_PACKAGE_FOLDER }}

      - name: Login to Azure
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      # - name: Setup .NET Core
      #   uses: actions/setup-dotnet@v3
      #   with:
      #     dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Deploy to Azure Function App
        uses: azure/webapps-deploy@v3
        with:
          app-name: app-net8-dev
          package: ${{ env.AZURE_FUNCTION_APP_PACKAGE_FOLDER }}

      - name: Log out of Azure
        run: az logout